
.floor-quad{
  position: absolute;
  top: 200;
  left: 50;
  img {
    width: 500px;
    height: auto; 
    background:transparent;
  }
  
}

.floorQuad-Heading{
  position: absolute;
  top:150;
  left:150;
}

.floorQuad-Info{
  position: absolute;
  text-align:left;
  left: 600;
  top: 200;
  li{
    margin-bottom:20;
  }
}

.chair-quad{
  position: absolute;
  top:600;
  left: 50;
  img{
    width: 350px;
    height: auto; 
    background:transparent;
  }
  
}

.chairQuad-Heading{
  position: absolute;
  top:530;
  left:150;

}

.chairQuad-Info{
  position: absolute;
  text-align:left;
  left: 600;
  top: 600;
  li{
    margin-bottom:20;
  }
}

.standing-quad{
  position: absolute;
  top: 1100;
  left: 150;
  img {
    width: 300px;
    height: auto;
    background:transparent;
  }
  
}

.standingQuad-Heading{
  position: absolute;
  top:1000;
  left:150;
}

.standingQuad-Info{
  position: absolute;
  text-align:left;
  left: 600;
  top: 1100;
  li{
    margin-bottom:20;
  }
}

.shoulder-rolls{
  position: absolute;
  top: 200;
  left: 25;
  img {
    width: 500px;
    height: auto; 
    background:transparent;
  }
}

.standing-forward{
  position: absolute;
  top:600;
  left: 100;
  img{
    width: 300px;
    height: auto;
    background:transparent; 
  }
}

.wall-hamstring{
  position: absolute;
  top: 1050;
  left: -80;
  img {
    width: 700px;
    height: auto;
    background:transparent;
  }
}

.knee-to-chest{
  position: absolute;
  top: 200;
  left: 25;
  img {
    width: 500px;
    height: auto; 
    background:transparent;
  }
}

.external-rotation{
  position: absolute;
  top:600;
  left: 100;
  img{
    width: 300px;
    height: auto; 
    background:transparent;
  }
}

.cross-arm{
  position: absolute;
  top: 1100;
  left: 100;
  img {
    width: 300px;
    height: auto;
    background:transparent;
  }
}

.wrist-flexion{
  position: absolute;
  top: 200;
  left: 100;
  img {
    width: 400px;
    height: auto; 
    background:transparent;
  }
}

.wrist-extension{
  position: absolute;
  top:600;
  left: 50;
  img{
    width: 450px;
    height: auto; 
    background:transparent;
  }
}

.wrist-stretch{
  position: absolute;
  top: 1100;
  left: 150;
  img {
    width: 300px;
    height: auto;
    background:transparent;
  }
}