* {
    box-sizing: border-box;
    margin: 0;
    padding:0; 
    font-family: "Poppins", sans-serif;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e4efef;
  }
  
  header {
    padding: 60px;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    color: white;
    font-size: 30px;  
    background: #0e46a3;
    position: relative; /* Position the header relative to its containing block */
}
.disclaimer{
  position: relative;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #B0B0B0;
}

.main-header {
    display: flex;
    align-items: center; /* Vertically center content within .main-header */
    position: absolute; /* Position the .main-header relative to the header */
    left: 0; 
    padding: 100px;/* Align the .main-header to the left edge of the header */
}


.main-header .logo img {
    display: block;
    height: 200px
}

  
  main {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .bullet-container {
    position: absolute;
    width: 500px;
    height: 500px;
  }
  
  .bullet1 {
    position: relative;
    height: 25px;
    width: 25px;
    top: 260px;
    left: 67px;
    cursor: pointer;
    background: #ab81e3;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
  }
  
  .bullet1:hover {
    width: 23px;
    height: 23px;
    background: #c5a0f3;
  }
  
  .bullet2 {
    position: relative;
    height: 25px;
    width: 25px;
    top: 200px;
    left: 170px;
    cursor: pointer;
    background: #b6f3ed;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
  }
  
  .bullet2:hover {
    width: 23px;
    height: 23px;
    background: #caf0ec;
  }

  .bullet4 {
    position: relative;
    height: 25px;
    width: 25px;
    top: 70px;
    left: 85px;
    cursor: pointer;
    background: #8576ff;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
  }
  
  .bullet4:hover {
    width: 23px;
    height: 23px;
    background: #9689f5;
  }
  
  .bullet5 {
    position: relative;
    height: 25px;
    width: 25px;
    top: 290px;
    left: 315px;
    cursor: pointer;
    background: #ffebb2;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
  }
  
  .bullet5:hover {
    width: 23px;
    height: 23px;
    background: #f9eabf;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #bounce {
    animation: bounce 2s ease infinite;
  }